.Div {
position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    height: 100%;
    border: 0.5px solid;
    border-radius: 10px;
    border-color: rgb(12, 12, 12);
    padding-bottom: 10px;
    overflow: hidden;
   
}
.books{
    position: relative;
    width: 1260px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    
}

.GoNewPage{
    position: relative;
    width: 1260px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  cursor: pointer;


}

.GoNewPage:hover{

    text-shadow: 1px 1px 1px black;

}


img{

    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.mainDiv{
    display: flex; 
    flex-wrap: wrap;
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

body{
   

    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;



}

h2, p{

    margin: 2px;

}
p{
    margin-top: 5px;
    margin-bottom: 10px;

}

.textDiv{

    position: relative;
    right: -20px;
    width: 280px;
    margin-top: 15px;

}


#title{

    font-size: 59px;


}